body{
    background-color: "#0F212E";
}

/* styles.css */
.clickable-text {
    cursor: pointer; /* Change cursor to pointer on hover */
    /* color: #007bff; Default text color */
    /* transition: color 0.3s, background-color 0.3s; Smooth transition for color changes */
    /* padding: 5px; Add padding for spacing */
    /* border-radius: 4px; Rounded corners */
  }
  
  .clickable-text:hover {
    color: #007bff; /* Change text color on hover */
    background-color: rgba(0, 0, 0, 0.1); /* Add background color on hover */
  }
  